body {
  font-family: Verdana, sans-serif;
  background-color: black;
}

/* Universal */
.link {
  color: aquamarine;
  font-size: 16px;
}

/* Header */

header {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

/* Links */

aside {
  text-align: center;
}

/* Video Section */

figure {
  text-align: center;
}
