body {
  background-color: #141414;
}

/* Universal */
.link {
  color: aquamarine;
  font-size: 16px;
  font-family: Verdana;
}

header {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

nav {
  text-align: center;
}
